body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    /* Estilos que se aplicarán a todos los elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 284px;
    height: 284px;
}

.productos .producto:nth-child(4) {
    color: aquamarine;
}

.productos .producto:last-child {
    color: red
}

.productos .producto:first-of-type {
    color: rgb(0, 13, 255);
}

.productos .producto:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a:visited {
    color: red;
}

nav ul li a:active {
    color: white;
}



.productos {
    padding: 20px;
    text-align: center;
}

.productos .producto {
    display: inline-block;
    margin: 10px 20px;
}

.productos .producto img {
    max-width: 100%;
}